<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>779771864148-antaabqpnqa7uh3sjebi2cin9d3hvart.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.779771864148-antaabqpnqa7uh3sjebi2cin9d3hvart</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>779771864148-38g569ob74hc8qln0u5rhqs2fuoj9d27.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCdZtnhWtJxoJZ1RALY8Xbq5v8fe26jTkU</string>
	<key>GCM_SENDER_ID</key>
	<string>779771864148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>land.platypus.ppoll</string>
	<key>PROJECT_ID</key>
	<string>ppoll-revamp</string>
	<key>STORAGE_BUCKET</key>
	<string>ppoll-revamp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:779771864148:ios:e9341c55fee93f1d</string>
	<key>DATABASE_URL</key>
	<string>https://ppoll-revamp.firebaseio.com</string>
</dict>
</plist>